form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 500px;
	padding: 1rem;
}

input,
select,
textarea {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 95%;
	padding: 0.2em 0.5em;
	font: inherit;
	border-radius: 5px;
	margin: 5px;
	border: 3px solid rgba($c-accent1, 0.511);
	background: rgba($c-gray-dark, 0.3);
	color: inherit;

	&:focus-visible {
		outline: 3px $c-accent1 solid;
	}
}

datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	writing-mode: vertical-lr;
	width: 100%;

	& option {
		background-color: rgba($c-gray-dark, 0) !important;
	}
}

option {
	background-color: rgba($c-gray-dark, 0.9) !important;
	padding: 2px;
	font-size: 0.8rem;
	font-family: "Courier New", Courier, monospace;
	transform: rotate(-90deg) translateX(3px);
}

label {
	margin-right: 10px;
	margin-top: 10px;
}

input[type="range"],
textarea,
option {
	accent-color: $c-accent1;
	width: 95%;
	margin: 0;
	resize: none;
	border-radius: 3px;
	font-family: inherit;
}

textarea {
	padding: 0.3rem;
	margin: 5px;
	box-sizing: border-box;
}

input[type="submit"] {
	margin-top: 1rem;
}
