nav {
	background-color: $c-gray-darker;
	width: 100%;

	.nav-container {
		max-width: 600px;
		margin-inline: auto;
		display: grid;
		grid-template-columns: 300px 1fr;
		gap: 1em;
		font-size: 1rem;
		padding: 1rem 1rem 1rem;

		@media (max-width: 550px) {
			grid-template-columns: 100%;
		}

		span {
			text-transform: uppercase;
			font-family: $font2;
		}

		span img {
			width: 25px;
			height: 25px;
			object-fit: cover;
			transform: translateY(6px) translateX(-4px);
		}
	}

	div.nav-logo {
		min-height: 150px;
		grid-column: 2;

		@media (max-width: 767px) {
			grid-column: 1;
			grid-row: 1;
		}

		svg {
			min-height: 150px;

			@media (max-width: 550px) {
				max-width: 250px;
			}
		}
	}

	div.nav-links {
		grid-column: 1;
		grid-row: 1;
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		flex-wrap: wrap;
		max-height: min-content;
		max-width: 400px;

		@media (max-width: 767px) {
			grid-row: 1;
			grid-column: 2;
			flex-direction: column;
		}

		@media (max-width: 550px) {
			grid-row: 2;
			grid-column: 1;
			flex-direction: column;
			margin-inline: auto;
		}

		a {
			letter-spacing: 0.5px;
			font-size: 0.9rem;
			min-width: max-content;
			background-color: $c-accent1;
			padding: 0em 0.7em 0.4em;
			margin: 1px;

			&.active {
				background-color: darken($c-accent1, 5%);
				color: lighten($c-primary, 5%);
			}
		}
	}
}
