.recommendations-form {
	background-color: $c-gray-darker;
	padding: 2rem 5rem;
}

.recommendation-thanks {
	position: fixed;
	background-color: $c-gray-darker;
	padding: 0.5em 1em;
	color: $c-red;
}
