.recommendations-form {
	background-color: rgba($c-gray-darker, 0.3);
	border: 1px solid rgba($c-gray-darker, 0.7);
	padding: 2rem 5rem;
	position: relative;
}

.recommendation-thanks {
	position: absolute;
	bottom: 2rem;
	margin: 0 auto;
	background-color: rgba($c-gray-darker, 0.9);
	font-weight: 700;
	padding: 0.5em 1em;
	color: $c-orange;
}
