.clickable {
	text-decoration: none;
	font-weight: bold;
	color: rgb(147, 191, 132);
}

.clickable:hover {
	text-decoration: none;
	cursor: pointer;
}

.table {
	width: 95%;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(6, 1fr);
	margin-top: 1rem;

	&-orders {
		grid-template-columns: repeat(4, 1fr) 15% 8%;
	}

	&-recommendations {
		grid-template-columns: repeat(4, 1fr);
	}

	&-supportissues {
		grid-template-columns: repeat(4, 1fr);
	}

	&-products {
		grid-template-columns: 15% 35% 25% 15% 10%;
	}

	&-head {
		padding: 3px 10px;
		border: 1px solid rgba($c-gray-dark, 0.7);
		background-color: rgba($c-gray-dark, 0.4);
	}

	&-cell {
		padding: 8px 10px;
		border: 1px solid rgba($c-gray-dark, 0.5);
		background-color: rgba($c-gray-dark, 0.2);
		display: grid;
	}
}
