@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

$font: "Noto Serif", serif;
$font2: "Andika", sans-serif;
$c-green-light: rgb(194, 255, 176);
$c-green-dark: rgb(47, 48, 46);
$c-gray-light: rgb(255, 250, 227);
$c-gray-mid: rgb(105, 105, 105);
$c-gray-dark: rgb(36, 36, 36);
$c-gray-darker: rgb(27, 27, 27);
$c-red: rgb(255, 0, 0);
$c-orange: rgb(255, 181, 85);

$c-primary: #fde9c9;
$c-secondary: #97c464;
$c-accent1: #6b9b50;
$c-accent2: rgb(224, 154, 62);
// $c-accent3: #9946c0;
