.app {
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.active {
  color: rgb(224, 154, 62);
}

#root {
  width: 100%;
  height: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 1em;
  font-size: 1rem;
  margin-bottom: auto;
  padding: 1rem;
}

nav a {
  border-radius: 5px;
  padding: .2em .4em;
  background-color: rgba(0 0 0 / 0.2);

}

main {
  min-height: 80vh;
  max-width: 900px;
  margin-inline: auto;
}

.rTable {
  /* display: table; */
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
}

.rTable-recommendations {
  /* display: table; */
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}

.rTable-products {
  /* display: table; */
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% 35% 25% 15% 10%;
}

.rTableCell {
  padding: 8px 10px;
  border: 1px solid #111111;
  background-color: rgb(71, 73, 68);
  display: grid;
  place-content: center;
}

.rTableHead {
  padding: 3px 10px;
  border: 1px solid #000000;
  background-color: #233b1a;
}

.rTableHeading {
  background-color: #ddd;
  font-weight: bold;
}

.rTableFoot {
  font-weight: bold;
  background-color: #ddd;
}

#search-div {
  margin: 10px;
}

#search-div>label {
  margin-right: 10px;
}

.clickable {
  text-decoration: none;
  font-weight: bold;
  color: rgb(147, 191, 132);
}

.clickable:hover {
  text-decoration: none;
  cursor: pointer;
}

.product-list {
  text-align: left;
  background-color: rgb(105, 105, 105);
  width: 400px;
  padding: 10px;
  margin-inline: auto;
}

.product-list-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-list-total {
  text-align: right;
}

.order-row {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  background-color: rgb(47, 48, 46);
  border: 1px solid black;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-row-quantity {
  font-size: .8em;
}

.order-row-product-name {
  padding-inline: 20px;
  font-weight: bolder;
  letter-spacing: .6px;
  color: rgb(194, 255, 176);
}

.order-row-price {
  margin-right: 15px;
}