@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

input,
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: .2em .5em;
  font: inherit;
  border-radius: 5px;
  margin: 5px;
  border: none;
}

a {
  font-weight: 500;
  color: rgb(200, 187, 171);
  text-decoration: inherit;
}

a:hover {
  color: rgb(255, 157, 29);
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  writing-mode: vertical-lr;
  width: 100%;
}

option {
  padding: 2px;
  font-size: .8rem;
  font-family: 'Courier New', Courier, monospace;
  transform: rotate(-90deg) translateX(3px);
}

label {
  margin-right: 10px;
  margin-top: 10px;
}

input[type="range"],
textarea {
  width: 100%;
  margin: 0;
  resize: none;
  rowspan: 5;
  border-radius: 3px;
  border: none;
  font-family: inherit;
}

textarea {
  padding: .3rem;
  margin: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  margin-top: 1rem;
}

.recommendations-form {
  background-color: rgb(27, 27, 27);
  padding: 2rem 5rem;
}